header {
    background-color: #010200;
    box-shadow: .5px .5px 1px #333;
    color: #fff;
    padding: 20px;

    nav {
        .active {
            background-color: #c64600;
            padding: 5px 15px;
            border-radius: 5px;
        }

        ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            margin-right: 10px;
        }

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    fa-icon {
        // background-color: rgb(255, 255, 255, 0.5);
        font-size: xx-large;
        color: #fff;
    }

    form {
        display: flex;

        input[type="text"] {
            background-color: #fff;
            border: none;
            padding: 10px;
            margin-right: 10px;
            flex-grow: 1;
        }

        button[type="submit"] {
            background-color: #c64600;
            color: #fff;
            border: none;
            padding: 10px 20px;
        }
    }

}