<div class="movie-details">
    <p class="back"><a routerLink="/movies"><fa-icon [icon]="faArrowLeft"></fa-icon></a></p>
    <div class="banner">
        <img src="https://image.tmdb.org/t/p/w500/{{theMovie.backdrop_path}}" alt="Affiche du film">
    </div>
    <div class="main">
        <div class="left">
            <h2>{{ theMovie.title }}</h2>
            <p> Release date : {{ theMovie.release_date }}</p>
            <p class="average">Average : {{ theMovie.vote_average }}</p>
            <p>Popularity : {{ theMovie.popularity }}</p>
            <p>{{ theMovie.overview }}</p>
            <div class="unknow">
                <p class="rate">
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                </p>
                <p class="favorite"> <fa-icon [icon]="faHeart"></fa-icon></p>
            </div>
        </div>
        <div class="right">
            <img src="https://image.tmdb.org/t/p/w500/{{theMovie.poster_path}}" alt="Bannière du film">
        </div>
    </div>
</div>
