<div class="movie-details">
    <p class="back"><a (click)="back()"><fa-icon [icon]="faArrowLeft"></fa-icon></a></p>
    <div class="banner">
        <img *ngIf="theMovie?.backdrop_path" src="https://image.tmdb.org/t/p/w500/{{theMovie.backdrop_path}}" alt="Affiche du film">
    </div>
    <div class="main">
        <div class="left">
            <h2 *ngIf="theMovie?.title">{{ theMovie.title }}</h2>
            <p *ngIf="theMovie?.release_date"> Release date : {{ theMovie.release_date }}</p>
            <p *ngIf="theMovie?.vote_average" class="average">Average : {{ theMovie.vote_average }}</p>
            <p *ngIf="theMovie?.popularity">Popularity : {{ theMovie.popularity }}</p>
            <p *ngIf="theMovie?.overview">{{ theMovie.overview }}</p>
            <div class="unknow">
                <p class="rate">
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                </p>
                <p class="favorite"> <fa-icon [icon]="faHeart"></fa-icon></p>
            </div>
        </div>
        <div class="right">
            <img *ngIf="theMovie?.poster_path" src="https://image.tmdb.org/t/p/w500/{{theMovie.poster_path}}" alt="Bannière du film">
        </div>
    </div>
</div>